* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

body > div {
    background-color: white;
    width: 640px;
    margin: 40px auto;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-top: 4px solid #673ab7;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

label h5 {
    font-size: 14px;
    font-weight: 500;
    color: #202124;
    margin-bottom: 8px;
    margin-top: 0;
}

label {
    font-size: 13px;
    color: #202124;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    font-size: 13px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 2px solid #673ab7;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
    font-size: 13px;
}

input[type="checkbox"],
input[type="radio"] {
    flex-direction: horizontal;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 12px;
    accent-color: #673ab7;
    
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: flex;
    margin-left: 0;
    cursor: pointer;
    font-size: 13px;
    color: #202124;
}

select {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    outline: none;
}

select:focus {
    border-color: #673ab7;
    box-shadow: 0 0 0 1px #673ab7;
}

div.buttons-container {
    display: flex;
    gap: 300px;
}
button {
    width: 100px;
    height: 40px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
button.cancel {
    background-color: #ffffff;
    color: rgb(185, 130, 227);
    border: #673ab7 solid 2px;
}

button.submit {
    background-color: #8362c2;
    color: white;
}

br {
    display: none;
}
